{% extends "layout/base.html" %}

{% block content  %}

        <!-- Start Banner Area -->

        <!-- Start Error Area  -->
        <div class="error-area bg_image--4 bg-color-grey">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner">
                            <img src="{{ url_for('static', filename="assets/images/others/404.png") }}" alt="Error Images">
                            <h1 class="title">Page not found!</h1>
                            <p>Sorry, but the page you were looking for could not be found.</p>
                            <div class="back-totop-button cerchio d-inline-block">
                                <a class="axil-button button-rounded hover-flip-item-wrapper" href="index.html">
                                    <span class="hover-flip-item">
                                        <span data-text="Back to Homepage">Back to Homepage</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Error Area  -->
        <!-- Start Footer Area  -->
        <div class="axil-footer-area axil-footer-style-1 footer-variation-2">
            <div class="footer-mainmenu">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget">
                                <h2 class="title">World</h2>
                                <div class="inner">
                                    <ul class="ft-menu-list">
                                        <li><a href="#">U.N.</a></li>
                                        <li><a href="#">Conflicts</a></li>
                                        <li><a href="#">Terrorism</a></li>
                                        <li><a href="#">Disasters</a></li>
                                        <li><a href="#">Global Economy</a></li>
                                        <li><a href="#">Environment</a></li>
                                        <li><a href="#">Religion</a></li>
                                        <li><a href="#">Scandals</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget">
                                <h2 class="title">Politics</h2>
                                <div class="inner">
                                    <ul class="ft-menu-list">
                                        <li><a href="#">Executive</a></li>
                                        <li><a href="#">Senate</a></li>
                                        <li><a href="#">House</a></li>
                                        <li><a href="#">Judiciary</a></li>
                                        <li><a href="#">Global Economy</a></li>
                                        <li><a href="#">Foreign policy</a></li>
                                        <li><a href="#">Polls</a></li>
                                        <li><a href="#">Elections</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget">
                                <h2 class="title">Entertainment</h2>
                                <div class="inner">
                                    <ul class="ft-menu-list">
                                        <li><a href="#">Celebrity News</a></li>
                                        <li><a href="#">Movies</a></li>
                                        <li><a href="#">TV News</a></li>
                                        <li><a href="#">Disasters</a></li>
                                        <li><a href="#">Music News</a></li>
                                        <li><a href="#">Environment</a></li>
                                        <li><a href="#">Style News</a></li>
                                        <li><a href="#">Entertainment Video</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget">
                                <h2 class="title">Business</h2>
                                <div class="inner">
                                    <ul class="ft-menu-list">
                                        <li><a href="#">Environment</a></li>
                                        <li><a href="#">Conflicts</a></li>
                                        <li><a href="#">Terrorism</a></li>
                                        <li><a href="#">Disasters</a></li>
                                        <li><a href="#">Global Economy</a></li>
                                        <li><a href="#">Environment</a></li>
                                        <li><a href="#">Religion</a></li>
                                        <li><a href="#">Scandals</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget">
                                <h2 class="title">Health</h2>
                                <div class="inner">
                                    <ul class="ft-menu-list">
                                        <li><a href="#">Movies</a></li>
                                        <li><a href="#">Conflicts</a></li>
                                        <li><a href="#">Terrorism</a></li>
                                        <li><a href="#">Disasters</a></li>
                                        <li><a href="#">Global Economy</a></li>
                                        <li><a href="#">Environment</a></li>
                                        <li><a href="#">Religion</a></li>
                                        <li><a href="#">Scandals</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget">
                                <h2 class="title">About</h2>
                                <div class="inner">
                                    <ul class="ft-menu-list">
                                        <li><a href="#">U.N.</a></li>
                                        <li><a href="#">Conflicts</a></li>
                                        <li><a href="#">Terrorism</a></li>
                                        <li><a href="#">Disasters</a></li>
                                        <li><a href="#">Global Economy</a></li>
                                        <li><a href="#">Environment</a></li>
                                        <li><a href="#">Religion</a></li>
                                        <li><a href="#">Scandals</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock  %}